/animefacedataset
/HuggingFace Spaces
/anime face generation GAN.ipynb
/CelebAzip.zip
/morphed_video.mp4
/transition_video-2.mp4
/generated-1
/generated-2
/generated-3
/generated-5
/generated-4
/runs/gan_experiment
/__pycache__
/animefacedataset/images
/anime_face_generation_GAN.ipynb
/CelebA-GAN/CelebAzip
/CelebA-GAN/runs